<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353353152250-lcmur94jl7a6vccbog9sq1rgaol9lgho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353353152250-lcmur94jl7a6vccbog9sq1rgaol9lgho</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgRsasLIRHG-howzMSvpFWjD91XNwnVw</string>
	<key>GCM_SENDER_ID</key>
	<string>353353152250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cerebralstudio.Graphnote</string>
	<key>PROJECT_ID</key>
	<string>graphnote-64d69</string>
	<key>STORAGE_BUCKET</key>
	<string>graphnote-64d69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353353152250:ios:5baa0205266e78a28d3b43</string>
</dict>
</plist>